html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;

    background-color: rgb(101, 101, 101);
}

#global-nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5em;

    height: 50px;
    width: 100%;
    background-color: rgb(143, 143, 143)
}

#global-nav-icon {
    margin-right: auto;
    height: 100%;
}

.global-nav-link {
    width: 7.5rem;
    text-align: center;
    vertical-align: middle;
    padding: auto;
    background-color: lightgray;
}

#global-nav-extra {
    width: 10rem;
    margin-left: auto;
    background-color: red;
}

#article-body {
    display: flex;
    flex-grow: 1;
    background-color: gray;
}

#article-nav {
    flex-direction: column;
    width: 15em;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15em;
    background-color: rgb(169, 169, 169);
}

.article-nav-link {
    display: block;
    width: 100%;
    height: 3em;
    background-color: rgb(151, 151, 151);
    text-align: center;
}

.article-nav-link:hover {
    background-color: white;
}

#article-body article {
    flex-grow: 1;
    padding: 5em;

    background-color: pink;
}

#article-bookmarks {
    flex-direction: column;
    width: 15em;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15em;
    background-color: rgb(169, 169, 169);
}