.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .gist-meta {
  display: none;
} */

.sidebar-dropdown-category-label:hover {
  text-decoration: underline;
}

.sidebar-dropdown-link:hover {
  text-decoration: underline !important;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin !important;
}
